div {

  background-color : rgb(162, 127, 243);
  color : rgb(255, 255, 255);
  padding : 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h1 {
  color : white;
  background-color: #2EFE2E;
  padding:10px;
  font-family: 'Times New Roman', Times, serif;

}

/*div, h1 태그는 점을 앞에 붙이지 말기*/